* {
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inconsolata', monospace;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    font-size: 50px;
}

.dateAndTimeContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
}